# Dependencies
node_modules/

# Build / artifacts
dist/
artifacts/
cache/
typechain-types/
types/

# Environment
.env
.env.*

# Hardhat
.deps/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Indexer
*.db
data/
